.content {
  height: 100%;
  width: 100% - 20%;
  margin-top: 70px;
  margin-left: 20%;
  background-color: transparent;
  & .content__card {
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 2px;
    margin: 10px 10px;
    padding: 0px 10px;
    font-size: 14px;
    z-index: 0;
    & .content__card-avatar svg {
      width: 20px;
      height: 20px;
    }
  }
}

@media (max-width: 800px) {
  .content {
    margin-left: 40%;
    width: 100% - 40%;
  }
}

@media (max-width: 400px) {
  .content {
    margin-left: 0%;
    width: 100%;
  }
}